.toidupüramiid {
    display: flex;
    justify-content: space-between;
}

.toidupüramiid img {
    max-width: 100%; /* Maksimaalne laius on ekraani laius */
    height: auto; /* Hoia pildi kuvasuhe */
}

.toidupüramiid {
    display: flex; /* Kasutame paindlikku paigutust */
}

.toidupüramiid img {
    margin-right: 10px; /* Lisa soovitud vahe piltide vahele */
    max-width: 50%;
    height: auto;
}

.sinine {
    color: #0077cc; /* Määrab teksti värvi tumekollaseks */
    font-weight: bold;
    /*background-color: rgb(253, 253, 252); */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: azure;
    color: #333;
    /*text-shadow: 4px 4px 4px #d6d6d6;*/
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #0077cc;
    color: #fff;
}

img {
    max-width: 30%;
    height: auto;
    }