.toidupüramiid {
    display: flex;
    justify-content: space-between;
}

.toidupüramiid img {
    max-width: 100%; /* Maksimaalne laius on ekraani laius */
    height: auto; /* Hoia pildi kuvasuhe */
}

.toidupüramiid {
    display: flex; /* Kasutame paindlikku paigutust */
}

.toidupüramiid img {
    margin-right: 10px; /* Lisa soovitud vahe piltide vahele */
}

.tumekollane {
    color: rgb(221, 165, 10); /* Määrab teksti värvi tumekollaseks */
    font-weight: bold;
    text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, 2px -2px 0px #000, -2px 2px 0px #000;
    background-color: #f5f4f4; 
}

body {
    font-family: "Questrial", serif;
    /* "Fontinimi" on valitud font, "sans-serif" on varuvõimalus juhuks, kui esimest fonti pole saadaval */
    font-size: 48px;
    text-shadow: 4px 4px 4px #d6d6d6;
}