.toidupüramiid {
    display: flex; /* Kasutame paindlikku paigutust */
}

.toidupüramiid img {
    margin-right: 10px; /* Lisa soovitud vahe piltide vahele */
}

.tumekollane {
    color: rgb(221, 165, 10); /* Määrab teksti värvi tumekollaseks */
}