.pealehele {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077cc;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 5px;}

#modImg {
    cursor: pointer;
    transition: 0.2s;
}

#modImg:hover {opacity: 0.65;}

.navBar {
    background-color: #0077cc;
    overflow: hidden;
}

.navBar a {
    color: #fff;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.navBar a:hover {
    background-color: #1fa6df;
}

.navBar a.active {
    background-color: lightskyblue;
    color: black;
}

.toidup端ramiid {
    display: flex;
    justify-content: space-between;
}

.toidup端ramiid img {
    max-width: 100%; 
    height: auto; 
}

.toidup端ramiid {
    display: flex; 
}

.toidup端ramiid img {
    margin-right: 10px; 
    max-width: 50%;
    height: auto;
}

.sinine {
    color: #0077cc; 
    font-weight: bold;
}
